FLASK_APP=wsgi.py
DATABASE_URL=postgresql://example_user:example_password@db:5432/example_database
SECRET_KEY=super_secret_key
REDIS_URL=redis://redis:6379/0

STRAVA__CLIENT_ID=
STRAVA__CLIENT_SECRET=
STRAVA__REDIRECT_URI=http://localhost:8000//strava-activity/strava/callback
STRAVA__SCOPE=activity:read

STRAVA__AUTH_URL=https://www.strava.com/oauth/authorize
STRAVA__TOKEN_URL=https://www.strava.com/oauth/token
STRAVA__API_BASE=https://www.strava.com/api/v3
