{% extends "layout.html" %}
{% block title %}Список тренировок{% endblock %}

{% block content %}

<div id="map" class="map map-in-activity-page mb-3"></div>

<div class="d-flex row">

  <div class="col-md-6 mt-3">
    <h5 class="fw-bold mb-0">
      {{ activity.athlete.name }}
    </h5>
    <p class="d-flex mb-0">
      {% if activity.type == "Ride" %}
        <i class="bi bi-bicycle me-2"></i>
      {% else %}
        <i class="bi bi-person-walking me-2"></i>
      {% endif %}
      {{ activity.start_date_local }}
    </p>
  </div>

  <div class="col-md-6 mt-3">
    <h5 class="fw-bold">
      {{ activity.name }}
    </h5>
  </div>

  <div class="col-md-6 mt-3">
    <div class="choose-container">

      <div class="card shadow-sm border-0 bg-light choose-label">
        <div class="card-body">

          <h5 class="fw-bold mb-4">
            <i class="bi bi-clipboard-data text-primary"></i>
            Показатели мощности
          </h5>

          <div class="d-flex align-items-center justify-content-center mb-4">
            <div class="meter-container">
              <div class="meter">
                <div class="outer-circle d-flex align-items-center justify-content-center">
                  <div class="inner-circle bg-light">
                    <div class="needle d-flex align-items-center justify-content-center"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex row">

            <div class="col-6">
              <div class="card shadow-sm border-0 bg-light">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="me-4">
                      <h1 class="bi bi-{{ activity.target }}-circle text-primary mb-0"></h1>
                    </div>
                    <div>
                      <p class="mb-1">
                        Зона мощности
                      </p>
                      <h5 class="fw-bold mb-0">
                        {% if activity.target == 1 %}
                          Восстановление
                        {% elif activity.target == 2 %}
                          Выносливость
                        {% elif activity.target == 3 %}
                          Темп
                        {% elif activity.target == 4 %}
                          Порог
                        {% elif activity.target == 5 %}
                          VO2 Max
                        {% elif activity.target == 6 %}
                          Анаэробная
                        {% else %}
                          Нейромышечная
                        {% endif %}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card shadow-sm border-0 bg-light">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="me-4">
                      <h1 class="bi bi-lightning text-primary mb-0"></h1>
                    </div>
                    <div>
                      <p class="mb-1">
                        Интенсивность
                      </p>
                      <h5 class="fw-bold mb-0">
                        {{ activity.intensity_score }}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="card shadow-sm border-0 bg-light">
      <div class="card-body">
        <h5 class="fw-bold mb-4">
          <i class="bi bi-clipboard-data text-primary"></i>
          Статистика
        </h5>
        <div class="d-flex row">

          <div class="col-6">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-stopwatch text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Время
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.moving_time }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-cursor text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Расстояние
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.distance }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mt-3">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-speedometer text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Ср. скорость
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.average_speed }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mt-3">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-graph-up-arrow text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Набор высоты
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.total_elevation_gain }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mt-3">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-activity text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Ср. пульс
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.average_heartrate }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 mt-3">
            <div class="card shadow-sm border-0 bg-light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="me-4">
                    <h1 class="bi bi-activity text-primary mb-0"></h1>
                  </div>
                  <div>
                    <p class="mb-1">
                      Макс. пульс
                    </p>
                    <h5 class="fw-bold mb-0">
                      {{ activity.max_heartrate }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<script>
  const targetValue = "{{ activity.target }}";
</script>
<script src="{{ url_for('static', filename='js/target_meter.js') }}"></script>
<script src="{{ url_for('static', filename='js/render_route_map.js') }}"></script>
<script>
  renderRouteMap(
    "map",
    {{ activity.map.summary_polyline | tojson }}  // важно: tojson экранирует строку
  );
</script>

{% endblock %}