{% extends "layout.html" %}
{% block title %}Список тренировок{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <button class="btn btn-outline-primary mb-1 fw-bold" onclick="window.location.reload();">
      <i class="bi bi-arrow-clockwise me-2"></i>
      Синхронизировать со Strava
    </button>
  </div>

  <div>
    <form id="updateRecommedations" method="post" 
        action="{{ url_for('strava_activity.update_recommedations') }}">

      {% if not recommedations_status %}
        <button type="submit" class="btn btn-primary fw-bold">
          <i class="bi bi-stars me-2"></i>
          Получить рекомендации
        </button>
      {% elif recommedations_status == "done" %}
        <button type="submit" class="btn btn-primary fw-bold">
          <i class="bi bi-stars me-2"></i>
          Обновить рекомендации
        </button>
      {% endif %}

    </form>
  </div>

</div>

{% if recommedations_status == "pending" %}
  <div class="alert alert-warning border-0 shadow-sm my-4">
    <i class="bi bi-clock-history me-2"></i>
    Происходит генерация рекомендаций. Подождите немного...
  </div>
{% elif recommedations_status == "done" %}
  <div class="alert alert-light border-0 shadow-sm my-4">
      <h3 class="fw-bold text-success mb-4">
        <i class="bi bi-check2-circle me-2"></i>
        Рекомендации
      </h3>
      <div>
        {{ recommedations | md }}
      </div>
  </div>
{% elif recommedations_status == "failure" %}
  <form id="retryRecommedations" method="post" 
        action="{{ url_for('strava_activity.update_recommedations') }}">
    <div class="d-flex justify-content-between align-items-center alert alert-danger border-0 shadow-sm my-4">
      <div>
        <i class="bi bi-exclamation-triangle me-2"></i>
        Произошла ошибка при генерации рекомендаций
      </div>
      <button type="submit" class="btn btn-primary fw-bold">
        <i class="bi bi-arrow-repeat me-2"></i>
        Повторить попытку
      </button>
    </div>

  </form>
{% endif %}

{% for activity in activities %}
  <div id="{{ activity.id }}" class="card shadow-sm border-0 bg-light mb-5"
    role="button"
    data-href="{{ url_for('strava_activity.activity', activity_id=activity.id) }}">
    <div class="card-body">
      <div class="d-flex row">
        <div class="col-4">
          <div id="map_{{ activity.map.id }}" class="map"></div>
        </div>

        <div class="col-8">
          <div class="mb-4">
            <p class="fw-bold mb-0">
              {{ current_user.firstname }} {{ current_user.lastname }}
            </p>
            <p class="d-flex small mb-0">
              {% if activity.type == "Ride" %}
                <i class="bi bi-bicycle me-2"></i>
              {% else %}
                <i class="bi bi-person-walking me-2"></i>
              {% endif %}
              {{ activity.start_date_local | convert_date }}
            </p>
          </div>

          <div>
            <h5 class="fw-bold mb-4">
              {{ activity.name }}
            </h5>

            <div class="d-flex row">

              <div class="col-3">
                <div class="small">
                  Время
                </div>
                <div class="fw-bold">
                  {{ activity.moving_time | convert_moving_time }}
                </div>
              </div>

              <div class="col-3">
                <div class="small">
                  Расстояние
                </div>
                <div class="fw-bold">
                  {{ activity.distance | convert_distance | round(2) }} км
                </div>
              </div>

              <div class="col-3">
                <div class="small">
                  Средняя скорость
                </div>
                <div class="fw-bold">
                  {{ activity.average_speed | convert_speed | round(2) }} км/ч
                </div>
              </div>

              <div class="col-3">
                <div class="small">
                  Средний пульс
                </div>
                <div class="fw-bold">
                  {{ activity.average_heartrate }} уд/мин
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<script>
  document.addEventListener('click', function (e) {
    const card = e.target.closest('.card');
    if (!card) return;
    window.location = card.dataset.href;
  });
</script>
<script src="{{ url_for('static', filename='js/render_route_map.js') }}"></script>
<script>
  {% for activity in activities %}
    renderRouteMapWithoutZoom(
      "map_{{ activity.map.id }}",
      {{ activity.map.summary_polyline | tojson }}
    );
  {% endfor %}
</script>
<script>
  const currentStatus = "{{ recommedations_status }}";
</script>
<script src="{{ url_for('static', filename='js/refresh_page.js') }}"></script>

{% endblock %}